body{
    width: 600px;
    margin: auto;
    padding:20px 0;
    font-family: sans-serif;
    font-size: 14px;
    color: black;
}

h2{
    font-size: 39px;
    line-height: 43px;
    letter-spacing: -1px;
}

a{
    color: #276056;
}

a:hover{
    color:black;
}

p{
    line-height: 21px;
}

article img{
    float: left;
    margin-right: 30px;
}

article h2{
    margin: 0;
}

.meta {
    padding-left: 0;
    margin: 0 0 8px;
}

.meta a, .post_info a{
    font-style: italic;
}

.meta li{
    display: inline;
}

.meta li:after{
    content: '|';
    padding: 0 2px;
    color:#999;
}

.meta li:last-child:after{
    content:none;
}

.preview{
    float:right;   
    width: 370px;
}

.post_info{
    background:#f3f3f3;
    color:#999;
    padding:3px;
    float: left;
}

.post_info a{
    color: #999;
    text-decoration: none;
}

.post_info a:hover{
    color:black;
}

.continue{
    float: right;
}

.continue:before{
    content: '(';
}

.continue:after{
    content: ')';
}

.body{
    clear: both;
    color: #575757;
}